.h1-titulos{
  font-family: 'montserrat', sans-serif;
  font-weight: 900;
}
body{
  background-color: #fafafa;
}
.barra{
  overflow: hidden;
}
.botn-verificar{
  font-weight: bold !important;
  font-size: 20px;  

}
.cod-text{
  font-size: 19px;
}